In [1]:
import pandas as pd
import json

with open('t20_wc_match_results.json') as file:
    data = json.load(file)
data
df_match=pd.DataFrame(data[0]['matchSummary'])
df_match.head()
#df.shape

,team1,team2,winner,margin,ground,matchDate,scorecard
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [2]:
df_match.rename({'scorecard':'match_id'}, axis=1, inplace=True)
df_match.head()
df_match[['team1','team2']].astype(str)
df_match.head()
df_match.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   team1      45 non-null     object
 1   team2      45 non-null     object
 2   winner     45 non-null     object
 3   margin     45 non-null     object
 4   ground     45 non-null     object
 5   matchDate  45 non-null     object
 6   match_id   45 non-null     object
dtypes: object(7)
memory usage: 2.6+ KB

In [3]:
match_ids_dict = {}
for _, row in df_match.iterrows():
    team1 = row['team1'].strip().lower()
    team2 = row['team2'].strip().lower()
    key1 = f"{team1} vs {team2}"
    key2 = f"{team2} vs {team1}"
    match_ids_dict[key1] = row["match_id"]
    match_ids_dict[key2] = row["match_id"]
match_ids_dict

{'namibia vs sri lanka': 'T20I # 1823',
 'sri lanka vs namibia': 'T20I # 1823',
 'netherlands vs u.a.e.': 'T20I # 1825',
 'u.a.e. vs netherlands': 'T20I # 1825',
 'scotland vs west indies': 'T20I # 1826',
 'west indies vs scotland': 'T20I # 1826',
 'ireland vs zimbabwe': 'T20I # 1828',
 'zimbabwe vs ireland': 'T20I # 1828',
 'namibia vs netherlands': 'T20I # 1830',
 'netherlands vs namibia': 'T20I # 1830',
 'sri lanka vs u.a.e.': 'T20I # 1832',
 'u.a.e. vs sri lanka': 'T20I # 1832',
 'ireland vs scotland': 'T20I # 1833',
 'scotland vs ireland': 'T20I # 1833',
 'west indies vs zimbabwe': 'T20I # 1834',
 'zimbabwe vs west indies': 'T20I # 1834',
 'netherlands vs sri lanka': 'T20I # 1835',
 'sri lanka vs netherlands': 'T20I # 1835',
 'namibia vs u.a.e.': 'T20I # 1836',
 'u.a.e. vs namibia': 'T20I # 1836',
 'ireland vs west indies': 'T20I # 1837',
 'west indies vs ireland': 'T20I # 1837',
 'scotland vs zimbabwe': 'T20I # 1838',
 'zimbabwe vs scotland': 'T20I # 1838',
 'australia vs new zealand': 'T20I # 1839',
 'new zealand vs australia': 'T20I # 1839',
 'afghanistan vs england': 'T20I # 1840',
 'england vs afghanistan': 'T20I # 1840',
 'ireland vs sri lanka': 'T20I # 1841',
 'sri lanka vs ireland': 'T20I # 1841',
 'india vs pakistan': 'T20I # 1842',
 'pakistan vs india': 'T20I # 1842',
 'bangladesh vs netherlands': 'T20I # 1843',
 'netherlands vs bangladesh': 'T20I # 1843',
 'south africa vs zimbabwe': 'T20I # 1844',
 'zimbabwe vs south africa': 'T20I # 1844',
 'australia vs sri lanka': 'T20I # 1845',
 'sri lanka vs australia': 'T20I # 1845',
 'england vs ireland': 'T20I # 1846',
 'ireland vs england': 'T20I # 1846',
 'afghanistan vs new zealand': 'T20I # 1846a',
 'new zealand vs afghanistan': 'T20I # 1846a',
 'bangladesh vs south africa': 'T20I # 1847',
 'south africa vs bangladesh': 'T20I # 1847',
 'india vs netherlands': 'T20I # 1848',
 'netherlands vs india': 'T20I # 1848',
 'pakistan vs zimbabwe': 'T20I # 1849',
 'zimbabwe vs pakistan': 'T20I # 1849',
 'afghanistan vs ireland': 'T20I # 1849a',
 'ireland vs afghanistan': 'T20I # 1849a',
 'australia vs england': 'T20I # 1849b',
 'england vs australia': 'T20I # 1849b',
 'new zealand vs sri lanka': 'T20I # 1850',
 'sri lanka vs new zealand': 'T20I # 1850',
 'bangladesh vs zimbabwe': 'T20I # 1851',
 'zimbabwe vs bangladesh': 'T20I # 1851',
 'netherlands vs pakistan': 'T20I # 1852',
 'pakistan vs netherlands': 'T20I # 1852',
 'india vs south africa': 'T20I # 1853',
 'south africa vs india': 'T20I # 1853',
 'australia vs ireland': 'T20I # 1855',
 'ireland vs australia': 'T20I # 1855',
 'afghanistan vs sri lanka': 'T20I # 1856',
 'sri lanka vs afghanistan': 'T20I # 1856',
 'england vs new zealand': 'T20I # 1858',
 'new zealand vs england': 'T20I # 1858',
 'netherlands vs zimbabwe': 'T20I # 1859',
 'zimbabwe vs netherlands': 'T20I # 1859',
 'bangladesh vs india': 'T20I # 1860',
 'india vs bangladesh': 'T20I # 1860',
 'pakistan vs south africa': 'T20I # 1861',
 'south africa vs pakistan': 'T20I # 1861',
 'ireland vs new zealand': 'T20I # 1862',
 'new zealand vs ireland': 'T20I # 1862',
 'australia vs afghanistan': 'T20I # 1864',
 'afghanistan vs australia': 'T20I # 1864',
 'england vs sri lanka': 'T20I # 1867',
 'sri lanka vs england': 'T20I # 1867',
 'netherlands vs south africa': 'T20I # 1871',
 'south africa vs netherlands': 'T20I # 1871',
 'bangladesh vs pakistan': 'T20I # 1872',
 'pakistan vs bangladesh': 'T20I # 1872',
 'india vs zimbabwe': 'T20I # 1873',
 'zimbabwe vs india': 'T20I # 1873',
 'new zealand vs pakistan': 'T20I # 1877',
 'pakistan vs new zealand': 'T20I # 1877',
 'england vs india': 'T20I # 1878',
 'india vs england': 'T20I # 1878',
 'england vs pakistan': 'T20I # 1879',
 'pakistan vs england': 'T20I # 1879'}

In [4]:
query_key = "Namibia vs Sri Lanka".lower()
match_ids_dict[query_key]

'T20I # 1823'

In [30]:
import os

# Create the folder if it doesn't exist
os.makedirs("t20 cricket", exist_ok=True)
df_batting.to_csv("t20 cricket/summary_data.csv", index=False)

batting summary

In [5]:
with open('t20_wc_batting_summary.json') as file:
    data=json.load(file)

    all_records=[]
    for rec in data:
        all_records.extend(rec['battingSummary'])
df_batting= pd.DataFrame(all_records)
df_batting.head()
df_batting.tail()

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
694,Pakistan Vs England,England,3,Phil Salt,c Iftikhar Ahmed b Haris Rauf,10,9,2,0,111.11
695,Pakistan Vs England,England,4,Ben Stokes,,52,49,5,1,106.12
696,Pakistan Vs England,England,5,Harry Brook,c Shaheen Shah Afridi b Shadab Khan,20,23,1,0,86.95
697,Pakistan Vs England,England,6,Moeen Ali,b Mohammad Wasim,19,13,3,0,146.15
698,Pakistan Vs England,England,7,Liam Livingstone,,1,1,0,0,100.00

In [6]:
df_batting["out/not_out"]=df_batting.dismissal.apply(lambda x:"out" if len(x)>0 else "not_out")
df_batting.head(15)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c †Mendis b Karunaratne,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33,out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,run out (Gunathilaka/†Mendis),44,28,4,0,157.14,out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,c †Mendis b Theekshana,0,1,0,0,0.00,out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,,31,16,2,2,193.75,not_out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,c Smit b Shikongo,9,10,1,0,90.00,out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendis†,c †Green b Wiese,6,6,0,0,100.00,out
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,c Shikongo b Frylinck,12,11,1,0,109.09,out
11,Namibia Vs Sri Lanka,Sri Lanka,4,Danushka Gunathilaka,c †Green b Shikongo,0,1,0,0,0.00,out
12,Namibia Vs Sri Lanka,Sri Lanka,5,Bhanuka Rajapaksa,c la Cock b Scholtz,20,21,2,0,95.23,out
13,Namibia Vs Sri Lanka,Sri Lanka,6,Dasun Shanaka(c),c †Green b Frylinck,29,23,2,1,126.08,out
14,Namibia Vs Sri Lanka,Sri Lanka,7,Wanindu Hasaranga de Silva,c Loftie-Eaton b Scholtz,4,8,0,0,50.00,out

In [7]:
df_batting.drop(columns=["dismissal"], inplace=True)
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,0,1,0,0,0.00,out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,not_out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendis†,6,6,0,0,100.00,out
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,12,11,1,0,109.09,out

In [8]:
df_batting['batsmanName']=df_batting['batsmanName'].apply(lambda x: x.replace('\aθ',''))
df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out

In [9]:
df_batting['batsmanName']=df_batting['batsmanName'].astype(str).str.replace("€", "")
df_batting.head(19)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,0,1,0,0,0.00,out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,not_out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendis†,6,6,0,0,100.00,out
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,12,11,1,0,109.09,out
11,Namibia Vs Sri Lanka,Sri Lanka,4,Danushka Gunathilaka,0,1,0,0,0.00,out
12,Namibia Vs Sri Lanka,Sri Lanka,5,Bhanuka Rajapaksa,20,21,2,0,95.23,out
13,Namibia Vs Sri Lanka,Sri Lanka,6,Dasun Shanaka(c),29,23,2,1,126.08,out
14,Namibia Vs Sri Lanka,Sri Lanka,7,Wanindu Hasaranga de Silva,4,8,0,0,50.00,out
15,Namibia Vs Sri Lanka,Sri Lanka,8,Chamika Karunaratne,5,8,0,0,62.50,out
16,Namibia Vs Sri Lanka,Sri Lanka,9,Pramod Madushan,0,0,0,0,-,out
17,Namibia Vs Sri Lanka,Sri Lanka,10,Dushmantha Chameera,8,15,0,0,53.33,out
18,Namibia Vs Sri Lanka,Sri Lanka,11,Maheesh Theekshana,11,11,0,1,100.00,not_out

In [10]:
df_batting['batsmanName']=df_batting['batsmanName'].astype(str).str.replace("†", "")
df_batting.tail(19)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
680,India Vs England,England,1,Jos Buttler(c),80,49,9,3,163.26,not_out
681,India Vs England,England,2,Alex Hales,86,47,4,7,182.97,not_out
682,Pakistan Vs England,Pakistan,1,Mohammad Rizwan,15,14,0,1,107.14,out
683,Pakistan Vs England,Pakistan,2,Babar Azam(c),32,28,2,0,114.28,out
684,Pakistan Vs England,Pakistan,3,Mohammad Haris,8,12,1,0,66.66,out
685,Pakistan Vs England,Pakistan,4,Shan Masood,38,28,2,1,135.71,out
686,Pakistan Vs England,Pakistan,5,Iftikhar Ahmed,0,6,0,0,0.00,out
687,Pakistan Vs England,Pakistan,6,Shadab Khan,20,14,2,0,142.85,out
688,Pakistan Vs England,Pakistan,7,Mohammad Nawaz,5,7,0,0,71.42,out
689,Pakistan Vs England,Pakistan,8,Mohammad Wasim,4,8,0,0,50.00,out
690,Pakistan Vs England,Pakistan,9,Shaheen Shah Afridi,5,3,1,0,166.66,not_out
691,Pakistan Vs England,Pakistan,10,Haris Rauf,1,1,0,0,100.00,not_out
692,Pakistan Vs England,England,1,Jos Buttler(c),26,17,3,1,152.94,out
693,Pakistan Vs England,England,2,Alex Hales,1,2,0,0,50.00,out
694,Pakistan Vs England,England,3,Phil Salt,10,9,2,0,111.11,out
695,Pakistan Vs England,England,4,Ben Stokes,52,49,5,1,106.12,not_out
696,Pakistan Vs England,England,5,Harry Brook,20,23,1,0,86.95,out
697,Pakistan Vs England,England,6,Moeen Ali,19,13,3,0,146.15,out
698,Pakistan Vs England,England,7,Liam Livingstone,1,1,0,0,100.00,not_out

In [11]:
query_key = "Namibia vs Sri Lanka".lower()
match_ids_dict[query_key]

'T20I # 1823'

In [15]:
df_batting["match"] = df_batting["match"].str.strip().str.lower()
df_batting["match_id"] = df_batting["match"].map(match_ids_dict)
df_batting

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,namibia vs sri lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out,T20I # 1823
1,namibia vs sri lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out,T20I # 1823
2,namibia vs sri lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out,T20I # 1823
3,namibia vs sri lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out,T20I # 1823
4,namibia vs sri lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out,T20I # 1823
...,...,...,...,...,...,...,...,...,...,...,...
694,pakistan vs england,England,3,Phil Salt,10,9,2,0,111.11,out,T20I # 1879
695,pakistan vs england,England,4,Ben Stokes,52,49,5,1,106.12,not_out,T20I # 1879
696,pakistan vs england,England,5,Harry Brook,20,23,1,0,86.95,out,T20I # 1879
697,pakistan vs england,England,6,Moeen Ali,19,13,3,0,146.15,out,T20I # 1879
698,pakistan vs england,England,7,Liam Livingstone,1,1,0,0,100.00,not_out,T20I # 1879

In [29]:
import os

# Create the folder if it doesn't exist
os.makedirs("t20 cricket", exist_ok=True)
df_batting.to_csv("t20 cricket/t20_cricket_clean_data.csv", index=False)

Process Bowling Summary

In [32]:
with open('t20_wc_bowling_summary.json') as file:
    data=json.load(file)

    all_records=[]
    for rec in data:
        all_records.extend(rec['bowlingSummary'])
df_bowling= pd.DataFrame(all_records)
df_bowling.head()
df_bowling.tail()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
495,Pakistan Vs England,Pakistan,Naseem Shah,4,0,30,0,7.50,15,3,1,1,0
496,Pakistan Vs England,Pakistan,Haris Rauf,4,0,23,2,5.75,13,3,0,1,0
497,Pakistan Vs England,Pakistan,Shadab Khan,4,0,20,1,5.00,10,1,0,0,0
498,Pakistan Vs England,Pakistan,Mohammad Wasim,4,0,38,1,9.50,5,5,0,2,0
499,Pakistan Vs England,Pakistan,Iftikhar Ahmed,0.5,0,13,0,15.60,0,1,1,0,0

In [33]:
df_bowling.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   match        500 non-null    object
 1   bowlingTeam  500 non-null    object
 2   bowlerName   500 non-null    object
 3   overs        500 non-null    object
 4   maiden       500 non-null    object
 5   runs         500 non-null    object
 6   wickets      500 non-null    object
 7   economy      500 non-null    object
 8   0s           500 non-null    object
 9   4s           500 non-null    object
 10  6s           500 non-null    object
 11  wides        500 non-null    object
 12  noBalls      500 non-null    object
dtypes: object(13)
memory usage: 50.9+ KB

In [34]:
df_bowling.info()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
count,500,500,500,500,500,500,500,500,500,500,500,500,500
unique,42,16,132,15,3,50,6,100,19,9,6,6,4
top,Namibia Vs Netherlands,Netherlands,Fred Klaassen,4,0,24,0,8.00,8,1,0,0,0
freq,14,51,8,255,484,28,187,33,46,141,270,294,461

In [35]:
df_bowling["match"] = df_bowling["match"].str.strip().str.lower()
df_bowling["match_id"] = df_bowling["match"].map(match_ids_dict)
df_bowling

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,namibia vs sri lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0,T20I # 1823
1,namibia vs sri lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0,T20I # 1823
2,namibia vs sri lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0,T20I # 1823
3,namibia vs sri lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0,T20I # 1823
4,namibia vs sri lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0,T20I # 1823
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,pakistan vs england,Pakistan,Naseem Shah,4,0,30,0,7.50,15,3,1,1,0,T20I # 1879
496,pakistan vs england,Pakistan,Haris Rauf,4,0,23,2,5.75,13,3,0,1,0,T20I # 1879
497,pakistan vs england,Pakistan,Shadab Khan,4,0,20,1,5.00,10,1,0,0,0,T20I # 1879
498,pakistan vs england,Pakistan,Mohammad Wasim,4,0,38,1,9.50,5,5,0,2,0,T20I # 1879
499,pakistan vs england,Pakistan,Iftikhar Ahmed,0.5,0,13,0,15.60,0,1,1,0,0,T20I # 1879

In [36]:
import os

# Create the folder if it doesn't exist
os.makedirs("t20 cricket", exist_ok=True)
df_batting.to_csv("t20 cricket/bowling_summary_clean_data.csv", index=False)

process player information

In [37]:
with open('t20_wc_bowling_summary.json') as file:
    data=json.load(file)

    all_records=[]
    for rec in data:
        all_records.extend(rec['bowlingSummary'])
df_players= pd.DataFrame(all_records)
df_players.head()
df_players.tail()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
495,Pakistan Vs England,Pakistan,Naseem Shah,4,0,30,0,7.50,15,3,1,1,0
496,Pakistan Vs England,Pakistan,Haris Rauf,4,0,23,2,5.75,13,3,0,1,0
497,Pakistan Vs England,Pakistan,Shadab Khan,4,0,20,1,5.00,10,1,0,0,0
498,Pakistan Vs England,Pakistan,Mohammad Wasim,4,0,38,1,9.50,5,5,0,2,0
499,Pakistan Vs England,Pakistan,Iftikhar Ahmed,0.5,0,13,0,15.60,0,1,1,0,0

In [38]:
df_bowling["match"] = df_bowling["match"].str.strip().str.lower()
df_bowling["match_id"] = df_bowling["match"].map(match_ids_dict)
df_bowling

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,namibia vs sri lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0,T20I # 1823
1,namibia vs sri lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0,T20I # 1823
2,namibia vs sri lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0,T20I # 1823
3,namibia vs sri lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0,T20I # 1823
4,namibia vs sri lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0,T20I # 1823
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,pakistan vs england,Pakistan,Naseem Shah,4,0,30,0,7.50,15,3,1,1,0,T20I # 1879
496,pakistan vs england,Pakistan,Haris Rauf,4,0,23,2,5.75,13,3,0,1,0,T20I # 1879
497,pakistan vs england,Pakistan,Shadab Khan,4,0,20,1,5.00,10,1,0,0,0,T20I # 1879
498,pakistan vs england,Pakistan,Mohammad Wasim,4,0,38,1,9.50,5,5,0,2,0,T20I # 1879
499,pakistan vs england,Pakistan,Iftikhar Ahmed,0.5,0,13,0,15.60,0,1,1,0,0,T20I # 1879

In [ ]:
import os

# Create the folder if it doesn't exist
os.makedirs("t20 cricket", exist_ok=True)
df_batting.to_csv("t20 cricket/info_clean_data.csv", index=False)